In [1]:
import numpy as np
import pandas as pd

In [2]:
gender_stats = pd.read_csv('gender_stats.csv')
first_countries = gender_stats.head()
first_countries

,country_name,country_code,fert_rate,gdp_us_billion,health_exp_per_cap,health_exp_pub,prim_ed_girls,mat_mort_ratio,population
0,Aruba,ABW,1.66325,NaN,NaN,NaN,48.721939,NaN,0.103744
1,Afghanistan,AFG,4.95450,19.961015,161.138034,2.834598,40.109708,444.00,32.715838
2,Angola,AGO,6.12300,111.936542,254.747970,2.447546,NaN,501.25,26.937545
3,Albania,ALB,1.76925,12.327586,574.202694,2.836021,47.201082,29.25,2.888280
4,Andorra,AND,NaN,3.197538,4421.224933,7.260281,47.123345,NaN,0.079547

In [3]:
fert_rate = first_countries['fert_rate']
fert_rate

0    1.66325
1    4.95450
2    6.12300
3    1.76925
4        NaN
Name: fert_rate, dtype: float64

In [4]:
# fert_rate.iloc[0] = 99
fert_rate

0    1.66325
1    4.95450
2    6.12300
3    1.76925
4        NaN
Name: fert_rate, dtype: float64

In [5]:
first_countries

,country_name,country_code,fert_rate,gdp_us_billion,health_exp_per_cap,health_exp_pub,prim_ed_girls,mat_mort_ratio,population
0,Aruba,ABW,1.66325,NaN,NaN,NaN,48.721939,NaN,0.103744
1,Afghanistan,AFG,4.95450,19.961015,161.138034,2.834598,40.109708,444.00,32.715838
2,Angola,AGO,6.12300,111.936542,254.747970,2.447546,NaN,501.25,26.937545
3,Albania,ALB,1.76925,12.327586,574.202694,2.836021,47.201082,29.25,2.888280
4,Andorra,AND,NaN,3.197538,4421.224933,7.260281,47.123345,NaN,0.079547

In [6]:
# pd.set_option('mode.chained_assignment','warn')

In [7]:
fert_fert_rate = first_countries.loc[fert_rate > 2, 'fert_rate']
fert_fert_rate

1    4.9545
2    6.1230
Name: fert_rate, dtype: float64

In [8]:
fert_fert_rate.iloc[0] = 199
fert_fert_rate

1    199.000
2      6.123
Name: fert_rate, dtype: float64

In [9]:
first_countries

,country_name,country_code,fert_rate,gdp_us_billion,health_exp_per_cap,health_exp_pub,prim_ed_girls,mat_mort_ratio,population
0,Aruba,ABW,1.66325,NaN,NaN,NaN,48.721939,NaN,0.103744
1,Afghanistan,AFG,4.95450,19.961015,161.138034,2.834598,40.109708,444.00,32.715838
2,Angola,AGO,6.12300,111.936542,254.747970,2.447546,NaN,501.25,26.937545
3,Albania,ALB,1.76925,12.327586,574.202694,2.836021,47.201082,29.25,2.888280
4,Andorra,AND,NaN,3.197538,4421.224933,7.260281,47.123345,NaN,0.079547